<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>acceuil</title>
    
    <!---we had linked our css file----->

  
</head>
<body>

</br> </br> </br> </br> </br> </br> </br> </br> </br> </br>

    <div class="a">

		 <p> Bismilah on commence une nouvelle application pour Aissata Deh et Ahmed diop</p>
		 

		</div>
	<style>
		p{
			color: aquamarine;
			padding-left: 300px;
		}
	</style>
    
</body>
</html>
