<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>

    <!-- Fichiers CSS -->
   

</head>
<body>
    <script src="/public/script/jquery-3.1.1.min.js"  type="text/javascript">    </script>
    
   
     
    
  
      
    <div class="full-page">
   
        <!-- Conteneur principal de tout le diaporama -->
     
       
            <!-- Conteneur principal de tout le diaporama -->
           
              <%- include('partial/login'); %>
          
        
     </div>

    
   
    

     <script src="/public/script/csslogin.js"  type="text/javascript">    </script>
    
 
  
</body>
</html>
