

        
    
       

            <li  class= "n" > Client </li> 
            <li class= "n" > Produit </li>
            <li class= "n" > Commande </li>
          <li class= "n"> Livraison </li> 
           <li class= "n"> Payement </li> 
            <li class= "n"> Statique </li> 
            <li class= "n"> Archive </li> 
           
        