<p id="total"> </p>
   
<div class="serchtable">
  <input type="text" id="serchclient" ></input>
</div>


<div id="serchtableapercu">
   apercu des recherche
</div>

<div class="divtable">
   <table class="table">
     
    </table>
</div>



<div id="clientdetail">
  <table id="tabledetail">
  
  </table>
  <table id="tabledetailb">
  
 </table>
 <div id="conrolclient">
  
 
  <input class="control" type="button" value="bloquer"></input>
  <input class="control" type="button" value="supprmier"></input>
 </div>
</div>

<div id="divsupprierClient" style="display: none;">
<p> vouler vous supprmier ce client </p>
<input type="button" class="control" value="annuler"></input>
<input type="button" class="control" value="valider"></input>

</div>

<script src="/public/script/scriptclient.js"  type="text/javascript">    </script>
<script src="/public/script/cssadmi/cssadmclien.js"  type="text/javascript">    </script>
