<div class="serchtablec">
  <input type="text" id="serchclientc" ></input>
</div>


<div id="serchtableapercuc">
   apercu des recherche
</div>

<div class="divtablec">
   <table class="tablec">
     
    </table>
    
</div>
   
<div id="divdetailc">

  
 
</div>
</div>
<script src="/public/script/scriptcommande.js"  type="text/javascript">    </script>
