<p> livraison wayyy on va tout livrer </p>



<div class="serchtablel">
    <input type="text" id="serchclientl" ></input>
  </div>
  
  
  <div id="serchtableapercul">
    
  </div>
  
  <div id="divtablel">
  
      <table class="tablel">
      
      </table>
     
  </div>

  <div id="divdetaill">

  
 
</div>


<script src="/public/script/scriptlivraison.js"  type="text/javascript">    </script>