<p id="totalp"> </p>
   
<div class="serchtablep">
  <input type="text" id="serchclientp" ></input>
</div>


<div id="serchtableapercup">
  
</div>

<div id="divtable">

    <table class="tablep">
    
    </table>
   
</div>

<div id="divdetailp">

  
 
</div>
<div id="conrolproduit">
 
  <input class="controlp" type="button" value="ajouter"></input>
  <input class="controlp" type="button" value="supprmier"></input>
 </div>

 <div id="divsupprierProduit" style="display: none;">
  <input  type="button" class="controlp" value="annuler"></input>
  <input type="button" class="controlp" value="valider"></input>
  
  </div>

 
<div id="ajouterproduit" style="display: none;">
  
  </div>

  <script src="/public/script/scriptproduit.js"  type="text/javascript">    </script>